.reminder-container {
  margin: 30px 0;
  color: #404040;
}

.main-section {
  border-radius: 5px;
}

a {
  color: #404040;
}

#reminder-box {
  border: 2px solid #466d98;
}

#section-header {
  margin-top: 30px;
}

.button {
  border-radius: 5px;
  background-color: #1eb5ad;
}

#delete-button {
  background-color: #f25c4d;
  margin-right: 20px;
}

.modal-header {
  color: #1eb5ad;
}

#nav-logout {
  color: #f25c4d;
  margin-right: 20px;
}

.big-icon {
  font-size: 52px;
}

.top-bar  {
  background-color: #2cb4ac;
}

#logout {
  font-size: 20px;
  padding-right: 65px;
  background-color: #2cb4ac;
  font-family: 'Rosario', sans-serif;
}

#home-med {
  font-size: 45px;
  font-family: 'Julius Sans One', sans-serif;
  padding-left: 65px;
}

#med-row {
  font-size: 30px;
}

.large-4 {
  padding: 15px 0;
}

.large-4 strong {
  font-size: 45px;
  font-family: 'Julius Sans One', sans-serif;
}

.large-4 span {
  font-size: 30px;
}

.button {
  font-family: 'Rosario', sans-serif;
}

.home-header-div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

#set-reminder-btn {
  padding-left: 6em;
}
#set-reminder-btn a {
  margin-top: 1em;
  font-family: 'Rosario', sans-serif;
}

#header-top h1 {
  padding-left: 3.8em;
  margin-top: .5em;
  font-family: 'Rosario', sans-serif;
}

.large-2 {
  word-wrap: break-word;
}



